body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 81, 252, 0.08);
}

h1{
    font: 8vh sans-serif;
    color: #250820;
}

h2{
    font: 6vh sans-serif;
    color: #420b39;  
}

.todo{
    border: #250820 2px solid;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 3vh;
    padding-right: 3vh;
}

li{
    font-size: 3vh;
    color:#044242;
}

a{
    text-decoration: none;
}

li:hover{
    font-size: 4vh;
    color:#086b4a;
    cursor: pointer;
}